html, body {
    height: 100%;
}

/* CSS only for examples not required for centering */
.container {
    height: 100%;
}

.dialog input{
    margin: 5px;
}

.dialog button{
    width: 100%;
    margin: 5px;
}

#current_players_ul{
    list-style-type:none;
}